<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--指定无需授权访问的路径-->
    <http pattern="/*.html" security="none" />
    <http pattern="/css/**" security="none" />
    <http pattern="/img/**" security="none" />
    <http pattern="/js/**" security="none" />
    <http pattern="/plugins/**" security="none" />
    <http pattern="/seller/add.shtml" security="none" />

    <!--use-expressions:是否启用SPEL表达式-->
    <http use-expressions="false">
        <!--
            pattern:路径拦截
            access:表示能访问的角色
         -->
        <intercept-url pattern="/**" access="ROLE_SELLER" />
        <!--
            启用登录
            login-page:指定登录的页面
            default-target-url:登录成功后默认页
            authentication-failure-url:登录失败后跳转的页面
          -->
        <form-login
                login-page="/shoplogin.html"
                default-target-url="/admin/index.html"
                authentication-failure-url="/shoplogin_error.html"
                always-use-default-target="true"/>

        <!--开启登出功能-->
        <logout logout-success-url="/shoplogin.html" logout-url="/logout"/>

        <!--关闭CSRF安全校验-->
        <csrf disabled="true" />

        <!--
            表示允许使用frame框架
            但必须是同域名下的请求
        -->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
    </http>

    <!--授权认证管理器-->
    <authentication-manager>
        <!--使用自定义的认证类来认证用户信息-->
        <authentication-provider user-service-ref="userDetailsServiceImpl">
            <password-encoder ref="bcryptEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>

    <!--自定义认证类-->
    <beans:bean class="com.pinyougou.shop.service.UserDetailsServiceImpl" id="userDetailsServiceImpl" />
    <!--加密对象-->
    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
</beans:beans>